*,
*::before,
*::after {
    box-sizing: border-box
}

html {
    font-family: sans-serif;
    font-size: 1rem;
    color: #444;
}

body {
    color: black;
    font-family: "Questrial", sans-serif;
    background-image: url("img/back1.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}

#root {
    max-width: 600px;
    margin: 2rem auto;
    padding: 0 1rem;
}

.wrapper {
    width: 100%;
}

form {
    display: flex;
    margin-bottom: 2rem;
}

h1 {
    font-size: 100px;
    font-weight: 100;
    text-align: center;
    color: maroon;
    text-rendering: optimizeLegibility;
}


@keyframes slide {
    from {
        background-position: 0 0;
    }

    to {
        background-position: -120px 60px;
    }
}

.modal {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    padding: 1.6rem 3rem;
    border: 3px solid black;
    border-radius: 5px;
    background: white;
    box-shadow: 8px 8px 0 rgba(0, 0, 0, 0.2);
}

.message {
    font-size: 1.1rem;
    margin-bottom: 1.6rem;
    margin-top: 0;
}

.btn {
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    background: white;
    padding: 0.3rem 3.4rem;
    border: 3px solid black;
    margin-right: 2.6rem;
    box-shadow: 0 0 0 black;
    transition: all 0.2s;
}

.btn:last-child {
    margin: 0;
}

.btn:hover {
    box-shadow: 0.4rem 0.4rem 0 black;
    transform: translate(-0.4rem, -0.4rem);
}

.btn:active {
    box-shadow: 0 0 0 black;
    transform: translate(0, 0);
}

.options {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.form__label {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    margin-left: 2rem;
    margin-top: 0.7rem;
    display: block;
    transition: all 0.3s;
    transform: translateY(0rem);
}

.form__input {
    font-family: 'Roboto', sans-serif;
    color: #333;
    font-size: 1.2rem;
    margin: 0 auto;
    padding: 1.5rem 10rem;
    border-radius: 0.2rem;
    background-color: rgb(255, 255, 255);
    border: none;
    width: 90%;
    display: block;
    border-bottom: 0.3rem solid transparent;
    transition: all 0.3s;
}

.form__input:placeholder-shown + .form__label {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateY(-4rem);
    transform: translateY(-4rem);
}

.plus {
    background-color: lightslategray;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 8px;
    border-radius: 8px;
}

.todo-list li {
    display: flex;
    justify-content: space-between;
    width: 300px;
}

.todo-list li span{
    color: white;
}


