*,
*::before,
*::after {
    box-sizing: border-box
}

html {
    font-family: sans-serif;
    font-size: 1rem;
    color: #444;
}

body{
    font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 1.4em;
    background: #f5f5f5;
    color: #4d4d4d;
    min-width: 230px;
    max-width: 550px;
    margin: 0 auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 300;
}

#root {
    max-width: 450px;
    margin: 2rem auto;
    padding: 0 1rem;
}

form {
    display: flex;
    margin-bottom: 2rem;
}

 h1 {
    font-size: 100px;
    font-weight: 100;
    text-align: center;
    color: rgba(175, 47, 47, 0.15);
    text-rendering: optimizeLegibility;
}
